extends layout

block content
  h1 Route links
  a(href='/signup') sign up page
  a(href='/cart' style='display:block;') cart
  a(href='/checkout' style='display:block;') checkout
  a(href='/messages' style='display:block;') messages
  a(href='/notifications' style='display:block;') notifications
  a(href='/products' style='display:block;') all products
  a(href='/products/phones' style='display:block;') all phones
  a(href='/products/phones/nokia40' style='display:block;') nokia phone
  a(href='/profile' style='display:block;') profile page
  a(href='/profile/personal-information' style='display:block;') personal information
  a(href='/profile/password' style='display:block;') change password
  a(href='/search' style='display:block;') search page
  a(href='/adverts' style='display:block;') all my adverts
  a(href='/clients' style='display:block;') all my clients
  a(href='/feedbacks' style='display:block;') feedbacks